/*!
Theme Name: hierhuistinnovatie
Theme URI: http://underscores.me/
Author: Compion
Author URI: http://compion
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hierhuistinnovatie
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

hierhuistinnovatie is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

@import "mixins/mixins-master";
@import "variables-site/variables-site";

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
@import "elements/elements";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "forms/forms";

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
@import "navigation/navigation";

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
@import "modules/accessibility";

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
@import "modules/alignments";

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
@import "modules/clearings";

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
@import "site/secondary/widgets";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
@import "modules/infinite-scroll";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";



/* ------------------
# Header
-------------------*/

.site-header{
	max-width: $max-website-width;
	margin-left: auto;
	margin-right: auto;

	.site-branding{
		position: relative;

		a{
			position: absolute;
		    width: 230px;
		    height: 80px;
		    left: 0px;
		    top: 31px;
		    z-index: 999;

			@include media($max-website-width){
				left: -3%;
			}
			@include media(820px){
				left: -6%;
			}
			@include tablet{
				width: 190px;
			    height: 80px;
			    top: 0px;
			}
			@include phone{
				left: -12%;
			}
		}
	}
	.container-inner{
		height: 80px;
		background-color: #ffffff;
		position: relative;
	}


}

.map-container{
	position: relative;

	.website-title{
		position: absolute;
	    top: 81px;
    	left: 5.3%;
	    width: 430px;
	    z-index: 99999;

	    @include tablet{
	    	position: absolute;
		    top: 12px;
		    left: 30px;
		    right: 30px;
		    width: auto;
		    text-align: center;

		    span{
		    	color: $color__yellow;
		    }
	    }

	    h1{
	    	padding-bottom: 0px;
	    	margin-bottom: 0px;
	    	font-size: 37px;
	    }	
	}
	@include tablet{
		background: #f4f4f4;

		.wpgmp_map_container{
			padding-top: 170px;
		}
	}
}

/* ------------------
# Footer
-------------------*/

.site-footer{
	max-width: $max-website-width;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	.site-footer-contact{
		background-color: $color__grey;
		color: white;
		padding-top: 20px;
		padding-bottom: 20px;

		.container-inner{
			display: flex;
			justify-content: space-between;
			align-items: stretch;
			flex-wrap: wrap;

			.site-footer-contact-item{
				color: #ffffff;
				width: 24%;

				@include desktop{
					width: 50%;
					margin-bottom: 10px;
				}
				@include phone{
					width: 100%;
					text-align: left;
				}

				span.strong-content{
					font-weight: bold;
					color: #ffffff;

					a{
						color: #ffffff;
					}
				}
				img{
					max-height: 35px;
				}
			}
		}
	}
	.site-footer-disclaimer{
		background-color: $color__yellow;
		color: $color--grey;
		padding-top: 10px;
		padding-bottom: 10px;

		div{
			display: inline-block;
		    font-size: 11px;
		    font-weight: 700;
		    text-transform: uppercase;
		}


		ul.menu{
			list-style-type: none;
			margin-block-start: 0em;
    		margin-block-end: 0em;
    		padding-inline-start: 0px;
    		display: inline-block;
    		margin: 0px;
    		padding: 0px;

			li{
				display: inline-block;
				padding: 0px 10px;

				a{
					color: $color--grey;
					text-decoration: none;
				    font-size: 11px;
				    font-weight: 700;
				    text-transform: uppercase;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}

/* ------------------
# Main-Content elements
-------------------*/
body{
	background-color: #ffffff;
}
.site-content{
	max-width: $max-website-width;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.arrow-down{
	background: url('./images/white-arrow-down.svg');
	width: 70px;
	height: 70px;
	background-size: cover;
	text-decoration: none;
	display: block;
    margin-top: -35px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999;
}
/* ------------------
# Default Single
-------------------*/
.page-template-default{
	.entry-content, .entry-header{
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;


		p, h1, h2, h3, h4{
			width: 66%;
			margin-left: auto;
			margin-right: auto;
		}
		.wp-block-columns{
			p{
				width: auto;
			}
		}
		ul{
			padding-left: 0px;
			list-style-type: none;
			margin-left: 0px;

			li{
				padding-left: 34px;

				&:before{
					color: $color__yellow;
					content: '\f00c';
					font-family: "Font Awesome 5 Free";
					font-weight: 900;
				    margin-left: -29px;
    				margin-right: 12px;
				}
			}
		}
	}
}
.intro-block{
	text-align: center;
	margin: 0px auto 0px auto;
	padding-bottom: 30px;
	padding-top: 60px;
	max-width: 80%;

	@include tablet{
		max-width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 1px;
	    padding-top: 12px;

	}
	@include phone{
		max-width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.intro-title{
		margin-top: 0px;
	}
	.intro-sub-title{
		margin-bottom: 0px;
	}
	p{
		max-width: 66%;
	    margin-left: auto;
	    margin-right: auto;

	    @include desktop{
			max-width: 90%;
		}
		@include tablet{
			max-width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

/* ------------------
# Map-styling
-------------------*/
.infoBox{
	box-shadow: 0px 3px 6px rgba(0,0,0,0.16)!important;
}
.fc-item-box{

	.fc-top-content{
		position: relative;



		.fc-top-content-gradient{
			width: 100%;
			height: 100px;
			background: url('./images/verhalen-gradient.png');
			background-repeat: repeat-x;
			position: absolute;
			bottom: 0;
		}
		.fc-top-content-text{
			position: absolute;
		    bottom: 12px;
		    color: white;
		    padding-left: 12px;
		    padding-right: 12px;
		}
		.fc-top-content-title{
	    	margin: 0px;
	    	padding: 0px;
			@include font-size(1.3);
			font-weight: 800;
			line-height: 1;
			display: block;
		}
		span.smalltext{
			font-size: 11px;
		}
		.fc-top-content-text-url{
			position: absolute;
	    	bottom: 29px;
	    	right: 23px;
	    	width: 17px;
	    	height: 10px;
			background: url('./images/button-arrow-right.png');
			background-repeat: none;
		}

	}
	.fc-itemcontent-padding{

		li.fc-list-item{
			color: $color__yellow;
			font-size: 10px;

			span{
				color: $color__grey;
			}
		}
	}
}

/* ------------------
# Homepage = Defaults
-------------------*/
.site-content{
	background: url('./images/background-content.png');
	background-repeat: repeat-x;
	background-position: left bottom;
}

/* ------------------
# Homepage = Waarom
-------------------*/

.waarom-block-container{
	position: relative;

	.container-inner{
		border-bottom: 1px solid rgba(112,112,112,0.13);

		.arrow-down{
			margin-top: -44px;
		}
	}
	.waarom-content{
		display: flex;
		justify-content: space-between;
		padding-bottom: 80px;
		flex-wrap: wrap;

		@include desktop{
	    	max-width: 66%;
	    	margin-left: auto;
	    	margin-right: auto;
	    }
	    @include phone{
	    	max-width: 100%;
	    }

		.waarom-content-item{
			min-height: 290px;
			width: 30%;
			display: flex;
		    align-content: center;
		    align-items: center;
		    justify-content: center;
		    position: relative;
			filter: drop-shadow(0px 3px 5px rgba(0,0,0,0.16));

		    .cirkel-number{
		    	position: absolute;
		    	background: url('./images/circle-one.svg');
		    	background-size: cover;
		    	width: 60px;
		    	height: 60px;
			    left: 22px;
			    top: -20px;
			    z-index: 15;
		    }

		    @include desktop{
		    	width: 100%!important;
		    	min-height: 200px!important;
		    }
		    @include phone{
		    	min-height: 240px!important;
		    }
		}

		.item-one{
			
			.inner{
				-webkit-clip-path: polygon(1% 2%, 88% 0, 100% 85%, 1% 83%);
				clip-path: polygon(1% 2%, 88% 0, 100% 85%, 1% 83%);
			    background: #f4f4f4;
			    width: 100%;
			    height: 100%;
			    padding: 44px 13% 30px 23px;
			    position: relative;
			    z-index: 14;
			}

			&:after{
				content: "";
			    width: 124px;
			    height: 112px;
			    background: url(./images/before-dotted-line.svg);
			    position: absolute;
			    right: -92px;
			    top: 75px;
			    background-size: 100%;
			    z-index: 2;
			    background-repeat: no-repeat;
			}

			@include desktop{

				.inner{
					-webkit-clip-path: polygon(1% 2%, 98% 0, 100% 85%, 1% 83%);
					clip-path: polygon(1% 2%, 98% 0, 100% 85%, 1% 83%);
					padding: 44px 6% 30px 35px;
				}
				&:after{
					right: auto;
					top: auto;
					bottom: -43px;
				    transform: rotate(126deg);
				}
				
			}

			.cirkel-number{
		    	background: url('./images/circle-one.svg');
				background-size: cover;
			}
		}
		.item-two{
			width: 28%;

			.inner{
				-webkit-clip-path: polygon(1% 2%, 99% 4%, 97% 84%, 3% 83%);
				clip-path: polygon(1% 2%, 99% 4%, 97% 84%, 3% 83%);
				background: #f4f4f4;
			    width: 100%;
			    height: 100%;
			    padding: 44px 7% 30px 23px;
				position: relative;
				z-index: 10;
			}

			.cirkel-number{
		    	background: url('./images/circle-two.svg');
				background-size: cover;
			}

			&:after{
				content: "";
			    width: 144px;
			    height: 98px;
			    background: url(./images/after-dotted-line.svg);
			    position: absolute;
			    right: -92px;
			    background-size: 100%;
			    z-index: 2;
			}

			@include desktop{

				margin-top: 30px;
				
				.inner{
					padding: 44px 6% 30px 35px;
				}
				&:after{
				    right: auto;
				    top: auto;
				    bottom: -43px;
				    transform: rotate(103deg);
				}	
			}
		}
		.item-three{
			
			.inner{
				-webkit-clip-path: polygon(1% 2%, 88% 0, 100% 85%, 1% 83%);
				clip-path: polygon(1% 2%, 88% 0, 100% 85%, 1% 83%);
			    background: #f4f4f4;
			    width: 100%;
			    height: 100%;
			    padding: 44px 13% 30px 23px;
			    position: relative;
			    z-index: 10;
			}

			.cirkel-number{
		    	background: url('./images/circle-three.svg');
				background-size: cover;
			}

			@include desktop{
				margin-top: 60px;

				.inner{
					-webkit-clip-path: polygon(1% 2%, 98% 0, 100% 85%, 1% 83%);
					clip-path: polygon(1% 2%, 98% 0, 100% 85%, 1% 83%);
					padding:44px 6% 30px 35px;
				}
			}
		}
	}
}

/* ------------------
# Verhalen overzicht
-------------------*/
.post-type-archive-verhalen, .post-type-archive-innovatieteam{
	.page-header{
		text-align: center;
		margin: 100px auto 30px auto;
		max-width: 80%;

		h1{
			margin-top: 0px;
		}

		@include tablet{
			max-width: 100%;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}
.verhalen-block-container{
}
.verhalen-block{
	display: grid;
	display: -ms-grid;
	  grid-template-columns: repeat(4, 24%);
	  -ms-grid-columns: 24% 15px 24% 15px 24% 15px 24%;
	    grid-gap: 1.3%;
	max-width: 1500px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 100px;
	margin: 30px auto 0px auto;
	border-bottom: 1px solid rgba(112,112,112,0.13);

	article:nth-child(1){
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	article:nth-child(2){
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}
	article:nth-child(3){
		-ms-grid-row: 1;
		-ms-grid-column: 5;
	}
	article:nth-child(4){
		-ms-grid-row: 1;
		-ms-grid-column: 7;
	}
	article:nth-child(5){
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	article:nth-child(6){
		-ms-grid-row: 2;
		-ms-grid-column: 3;
	}
	article:nth-child(7){
		-ms-grid-row: 2;
		-ms-grid-column: 5;
	}
	article:nth-child(8){
		-ms-grid-row: 2;
		-ms-grid-column: 7;
	}

	@include desktop{
		grid-template-columns: repeat(3, 32%);
		-ms-grid-columns:32% 15px 32% 15px 32%;
	    grid-gap: 2%;

	    article:nth-child(1){
			-ms-grid-row: 1;
			-ms-grid-column: 1;
		}
		article:nth-child(2){
			-ms-grid-row: 1;
			-ms-grid-column: 3;
		}
		article:nth-child(3){
			-ms-grid-row: 1;
			-ms-grid-column: 5;
		}
		article:nth-child(4){
			-ms-grid-row: 1;
			-ms-grid-column: 1;
		}
		article:nth-child(5){
			-ms-grid-row: 2;
			-ms-grid-column: 3;
		}
		article:nth-child(6){
			-ms-grid-row: 2;
			-ms-grid-column: 5;
		}
		article:nth-child(7){
			-ms-grid-row: 3;
			-ms-grid-column: 1;
		}
		article:nth-child(8){
			-ms-grid-row: 3;
			-ms-grid-column: 3;
		}
	}
	@include tablet{
		grid-template-columns: repeat(2, 49%);
		-ms-grid-columns: 49% 15px 49%;
	    grid-gap: 2%;

	    article:nth-child(1){
			-ms-grid-row: 1;
			-ms-grid-column: 1;
		}
		article:nth-child(2){
			-ms-grid-row: 1;
			-ms-grid-column: 3;
		}
		article:nth-child(3){
			-ms-grid-row: 2;
			-ms-grid-column: 1;
		}
		article:nth-child(4){
			-ms-grid-row: 2;
			-ms-grid-column: 3;
		}
		article:nth-child(5){
			-ms-grid-row: 3;
			-ms-grid-column: 1;
		}
		article:nth-child(6){
			-ms-grid-row: 3;
			-ms-grid-column: 3;
		}
		article:nth-child(7){
			-ms-grid-row: 4;
			-ms-grid-column: 1;
		}
		article:nth-child(8){
			-ms-grid-row: 4;
			-ms-grid-column: 3;
		}
	}
	@include phone{
		grid-template-columns: repeat(1, 100%);
		-ms-grid-columns: 100%;
		padding-left: 15px;
		padding-right: 15px;
	    grid-gap: 1%;

	    article:nth-child(1){
			-ms-grid-row: 1;
			-ms-grid-column: 1;
		}
		article:nth-child(2){
			-ms-grid-row: 2;
			-ms-grid-column: 1;
		}
		article:nth-child(3){
			-ms-grid-row: 3;
			-ms-grid-column: 1;
		}
		article:nth-child(4){
			-ms-grid-row: 4;
			-ms-grid-column: 1;
		}
		article:nth-child(5){
			-ms-grid-row: 5;
			-ms-grid-column: 1;
		}
		article:nth-child(6){
			-ms-grid-row: 6;
			-ms-grid-column: 1;
		}
		article:nth-child(7){
			-ms-grid-row: 7;
			-ms-grid-column: 1;
		}
		article:nth-child(8){
			-ms-grid-row: 8;
			-ms-grid-column: 1;
		}
	}

	:after {
	  content: "";
	  flex: auto;
	}

	.cta-verhaal{
    	grid-row-start: 1;
	    grid-row-end: 2;
	    grid-column-start: 2;
	    grid-column-end: 3;
	    background: $color__grey;
	    color: #ffffff;
	    padding: 15px;

	    @include desktop{
	    	grid-row-start: 1;
		    grid-row-end: 2;
		    grid-column-start: 2;
		    grid-column-end: 3;
	    }
	    @include phone{
	    	grid-row-start: 2;
		    grid-row-end: 3;
		    grid-column-start: 1;
		    grid-column-end: 2;
	    }

	    span.verhalen-block-item--content-title{
	    	margin: 0px;
	    	padding: 0px;
			@include font-size(1.3);
			font-weight: 800;
			line-height: 1;
		}
    }
    .cta-hulplijn{
	    background: $color__yellow;
	    color: #ffffff;
	    padding: 15px;

	    span.verhalen-block-item--content-title{
	    	margin: 0px;
	    	padding: 0px;
			@include font-size(1.3);
			font-weight: 800;
			line-height: 1;
		}
		img{
			max-width: 35px;
		}
		a{
			background: $color__grey;
			color: $color__yellow;

			&:hover, &:active{
				background: white;
				color: $color__yellow;
			}
			&:visited{
				background: $color__yellow;
				color: $color__grey;
			}
		}
    }

	article.verhalen,article.innovatieteam{
		min-height: 250px;
		position: relative;
		border-radius: 2px;
		overflow: hidden;
		margin-bottom: 15px;

		a{

			&:hover{
				.verhalen-block-item--image{
					transform: scale(1.1); 
				}
			}

			.verhalen-block-item--image{
				width: 100%;
				height: 100%;
				position: absolute;
				background-position: center center;
				background-size: cover;
				transition: transform .4s;
			}
			.verhalen-block-item--gradient{
				width: 100%;
				height: 100px;
				background: url('./images/verhalen-gradient.png');
				background-repeat: repeat-x;
				position: absolute;
				bottom: 0;
			}
			.verhalen-block-item--content{
				position: absolute;
			    bottom: 15px;
			    z-index: 99999;
			    left: 15px;
			    width: calc(100% - 50px);
			    color: white;
			    padding-bottom: 0px;

			    span.verhalen-block-item--content-title{
			    	margin: 0px;
			    	padding: 0px;
					@include font-size(1.3);
					font-weight: 800;
					line-height: 1;
					display: block;
				}

			    .smalltext{
					@include font-size(0.8);
			    }
			}
			div.verhalen-block-item--content-button{
		    	position: absolute;
		    	bottom: 29px;
		    	right: 23px;
		    	width: 17px;
		    	height: 10px;
				background: url('./images/button-arrow-right.png');
				background-repeat: none;
		    }
		}
	}
}

/* ------------------
# Verhalen Single / innovatieteam
-------------------*/
.single-verhalen, .single-innovatieteam{
	main#main{
		background: url('./images/background-content.png'), #f5f5f2;
		background-repeat: repeat-x;
	    background-position-y: 400px;
	    padding-bottom: 70px;
	}
	header.entry-header{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: relative;
		min-height: 370px;

		@include phone{
			min-height: 280px;
		}

		.verhalen-block-item--gradient{
			width: 100%;
			height: 100px;
			background: url('./images/verhalen-gradient.png');
			background-repeat: repeat-x;
			position: absolute;
			bottom: 0;
			z-index: 1;
		}

		.verhalen-header-content{
			padding-left: 40px;
			padding-right: 40px;
			padding-bottom: 30px;
			position: absolute;
			z-index: 999;
			bottom: 0;

			@include phone{
				padding-left: 20px;
				padding-right: 20px;
				padding-bottom: 20px;
			}
			
			h1{
				color: white;
				margin-top: 0px;
				padding-top: 150px;
				margin-bottom: 0px;
				font-weight: 800;
    			line-height: 1.4;
			}
			.verhalen-header-smalltext{
				color: white;
				margin-top: -7px;
			}
		}
	}
	.header-content{
		background: url('./images/maps-background.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		position:relative;

		.elipse-number{
			background: url('./images/elipse-number.png');
			width: 270px;
		    height: 270px;
		    position: absolute;
		    top: -135px;
		    right: 40px;
		    background-size: cover;
		    z-index: 999999;

		    .number{
		    	position: absolute;
			    width: 35px;
			    height: 20px;
			    color: white;
			    top: 96px;
			    right: 95px;
			    text-align: center;
			    font-size: 14px;
			    font-weight: 700;
		    }

		    @include desktop{
		    	width: 200px;
			    height: 200px;
			    top: -99px;
			    right: 0px;

			    .number{
			    	top: 70px;
    				right: 66px;
    				font-size: 12px;
			    }
		    }
		    @include phone{
		    	display: none;
		    }
		}

		.content-meta-list{
		    padding-inline-start: 0px;
		    padding: 10px 40px;
		    margin: 0px 0px 0px 0px;
		    max-width: 75%;
		    opacity: 0.7;

			li{
				display: inline-block;
				font-size: 12px;
				margin-right: 30px;
				font-weight: 400;
			}

			@include phone{
				max-width: 100%; 
				padding: 10px 20px;
			}
		}
		.header-content-intro{
			padding: 30px 40px;
			max-width: 66%;
			margin-bottom: 90px;

			@include tablet{
				max-width: 100%;
			}
			@include phone{
				padding: 20px 20px;
			}
		}
		.arrow-down{
			position: absolute;
			bottom: -35px;
			height: 70px;
			width: 100%;
			text-align: center;

			img{
				max-height: 100%;
			}
		}
	}
	.entry-content{
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 20px;
		padding-right: 20px;


		p{
			width: 66%;
			margin-left: auto;
			margin-right: auto;

			@include phone{
				width: 100%;
			}
		}
		img{
			border-radius: 6px;
			box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
		}
		.wp-block-columns{
			p{
				width: auto;
			}
		}
	}
	.entry-footer{
	    width: 66%;
	    margin: 40px auto 40px auto;
	    display: flex;
	    flex-wrap: wrap;
	    align-items: stretch;

	    @include media(1200px){
	    	width: 75%;
	    }
	    @include tablet{
	    	width: 80%;
	    }

		.prev-post, .next-post{
			display: inline-block;
			width: 49.5%;
			font-weight: 400;
			position: relative;

			@include media(600px){
				width: 100%;
				margin-bottom: 5px;
				border-radius: 6px;
			}
			a{
				color: $color__grey;
				text-decoration: none;

				&:hover{
					color: $color__yellow;
				}
			}
		}
		.prev-post{
			background: white;
			position: relative;
			box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
			padding-top: 25px;
			padding-bottom: 20px;

			.prev-post-inner{
				padding-left: 55px;
			    padding-right: 20px;
			    text-align: left;

			    @include tablet{
			    	padding-left:38px;
			    	padding-right:15px;
			    }

				a{	

					&:before{
						content: ' ';
						position: absolute;
						background: url('./images/white-arrow-down.svg');
						width: 70px;
						height: 70px;
						background-size: cover;
					    transform: rotate(-270deg);
					    left: -37px;
					    top: 18px;
					    transition: transform .4s;

					    @include tablet{
					    	width: 55px;
    						height: 55px;
    						left: -27px;
    						top: 36px;
					    }
					    @include media(600px){
					    	top:25px;
					    }

					}
					&:hover:before{
						left: -42px;

						@include tablet{
							left: -32px;
						}
					}
				}
			}
		}
		.next-post{
			background: white;
			position: relative;
			box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
			padding-top: 25px;
			padding-bottom: 25px;
			
			.next-post-inner{
				padding-left: 20px;
			    padding-right: 55px;
			    text-align: right;

			    @include tablet{
			    	padding-left:15px;
			    	padding-right:38px;
			    }

				a{	

					&:after{
						content: ' ';
						position: absolute;
						background: url('./images/white-arrow-down.svg');
						width: 70px;
						height: 70px;
						background-size: cover;
					    transform: rotate(-90deg);
					    right: -37px;
					    top: 18px;
						transition: transform .4s;

						@include tablet{
					    	width: 55px;
    						height: 55px;
    						right: -27px;
    						top: 36px;
					    }
					    @include media(600px){
					    	top:25px;
					    }
					}
					&:hover:after{
						right: -42px;

						@include tablet{
							right: -32px;
						}
					}
				}
			}
		}
	}
	.verhalen-block-container{
		// background: #ffffff;

		.arrow-down{
			top: -32px;
		}
	}
}


/* ------------------
# CTA footer
-------------------*/
.call-to-action{
	max-width: $max-website-width;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;

	@include phone{
		padding-left: 15px;
		padding-right: 15px;
	}

	.form-block{
		display: flex;
		align-items: stretch;
		margin-bottom: 40px;

		.form-block-content{
			width: 85%;
			box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
			z-index: 10;
			display: flex;
			align-items: stretch;

			@include desktop{
				width: 50%;
				margin-left: 10%;
			}
			@include tablet{
				width: 85%;
				margin-left: auto;
				margin-right: auto;
			}
			@include phone{
				width: 100%;
			}

			.form-block-left{
				background: url('./images/cta-left.svg');
				background-size: cover;
				background-position: left center;
				background-repeat: no-repeat;
				width: 60%;

				span{
					font-weight: 900;
				    font-size: 35px;
				    max-width: 450px;
				    display: block;
				    line-height: 1.3;
				    margin-left: 10%;
				    margin-top: 86px;
				}

				@include desktop{
					display: none;
				}
			}
			.form-block-right{
				width: 40%;
				background: white;
				padding: 30px 20px 5px 20px;

				@include desktop{
					width: 100%;
				}
			}
		}
		.form-block-logo{
			width: 15%;
			z-index: 8;
			position: relative;

			@include desktop{
				width: 30%;
			}
			@include tablet{
				display: none;
			}


			img{
				bottom: 50px;
				position: absolute;
			}
		}
	}
}

.wpcf7-form{

	input{
		border: 0px;
		border-bottom: 1px solid rgba(37,47,62,0.1);
		width: 100%
	}
	label{
		font-weight: bold;
		text-transform: uppercase;
		font-size: 13px;
	}
	select{
		width: 100%;
    	background: #F5F6F2;
    	border: 1px solid rgba(37,47,62,0.1);
	}
	.wpcf7-submit{
		background: $color__grey;
		color: white;
		padding: 20px 20px 16px 20px;
		text-align: left;
		font-weight: bold;
		font-size: 16px;
		border: 0px;

		&:hover{
			background: $color__yellow;
		}
	}
	p.no-padding{
		margin-bottom: 0px;
	}
	.form-left{
		display: inline-block;
		width: 48%;

		@include phone{
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.form-right{
		display: inline-block;
		width: 48%;
		margin-left: 1%;

		@include phone{
			width: 100%
		}
	}
}

