/*!
Theme Name: hierhuistinnovatie
Theme URI: http://underscores.me/
Author: Compion
Author URI: http://compion
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: hierhuistinnovatie
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

hierhuistinnovatie is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Khula:300,400,700,800&display=swap");
.container-inner {
  margin-left: 100px;
  margin-right: 100px; }
  @media screen and (max-width: 1024px) {
    .container-inner {
      max-width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 30px;
      padding-right: 30px; } }
  @media screen and (max-width: 480px) {
    .container-inner {
      padding-left: 10px;
      padding-right: 10px; } }

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 32px;
  margin: 0.67em 0;
  line-height: 1.25; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 32px; } }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 25px; } }

h2 {
  font-size: 35px;
  line-height: 1.3; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 32px; } }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 25px; } }

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
  color: #333333;
  font-family: "Khula", sans-serif;
  font-size: 13px;
  font-size: 1rem;
  line-height: 1.7;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }
  @media screen and (max-width: 320px) {
    h1, h2, h3, h4, h5, h6 {
      word-break: break-all; } }

h1, h2, h3 {
  font-weight: 800; }

h2, h3 {
  line-height: 1.3; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 12.1875px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 12.1875px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #fff;
  /* Fallback for when there is no custom background color defined. */ }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 9.75px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
  color: royalblue; }
  a:visited {
    color: purple; }
  a:hover, a:focus, a:active {
    color: midnightblue; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

.button-yellow {
  background: #FBBF2C;
  color: #252F3E;
  display: block;
  padding: 12px 10px 8px 10px;
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  font-size: 12px;
  margin-top: 15px;
  position: absolute;
  width: calc(100% - 30px); }
  .button-yellow img {
    margin-left: 10px;
    top: 15px;
    position: absolute; }
  .button-yellow:hover, .button-yellow:active {
    background: white;
    color: #FBBF2C; }
  .button-yellow:visited {
    background: #FBBF2C;
    color: #252F3E; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
  clear: both;
  display: block;
  float: right;
  margin-top: 26px; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul li {
      display: inline-block;
      padding-left: 10px;
      padding-right: 10px; }
      .main-navigation ul li:hover > ul,
      .main-navigation ul li.focus > ul {
        left: 100%; }
    .main-navigation ul .cta-button a {
      background: #252F3E;
      color: white;
      padding: 10px 20px 5px 20px; }
      .main-navigation ul .cta-button a:after {
        content: '';
        background: url("./images/button-arrow-right-white.png");
        width: 19px;
        height: 11px;
        display: inline-block;
        margin-left: 15px; }
      .main-navigation ul .cta-button a:hover {
        background: #FBBF2C;
        color: #252F3E; }
        .main-navigation ul .cta-button a:hover:after {
          background: url("./images/button-arrow-right-grey.png"); }
    .main-navigation ul a {
      color: #252F3E;
      font-weight: 800;
      text-decoration: none;
      font-size: 13px;
      font-size: 1rem; }
      .main-navigation ul a:hover {
        color: #FBBF2C; }
  .main-navigation .current_page_item > a,
  .main-navigation .current-menu-item > a,
  .main-navigation .current_page_ancestor > a,
  .main-navigation .current-menu-ancestor > a {
    color: #FBBF2C;
    border-bottom: 1px solid #FBBF2C; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }
  .main-navigation ul {
    display: block; } }

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/* --------------------
Mobile menu
--------------------*/
.right-menu-icon-text {
  line-height: 40px !important;
  font-weight: 700 !important;
  font-family: "Khula", sans-serif !important; }

.mobmenur-container {
  margin-top: 24px !important; }

ul#mobmenuright li.current-menu-item a, ul#mobmenuright li.current-menu-item a:visited {
  font-weight: 800 !important;
  color: #FBBF2C !important; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    -webkit-clip-path: none;
            clip-path: none;
    color: #21759b;
    display: block;
    font-size: 11.375px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.post,
.page {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/* ------------------
# Header
-------------------*/
.site-header {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto; }
  .site-header .site-branding {
    position: relative; }
    .site-header .site-branding a {
      position: absolute;
      width: 230px;
      height: 80px;
      left: 0px;
      top: 31px;
      z-index: 999; }
      @media screen and (max-width: 1600px) {
        .site-header .site-branding a {
          left: -3%; } }
      @media screen and (max-width: 820px) {
        .site-header .site-branding a {
          left: -6%; } }
      @media screen and (max-width: 768px) {
        .site-header .site-branding a {
          width: 190px;
          height: 80px;
          top: 0px; } }
      @media screen and (max-width: 480px) {
        .site-header .site-branding a {
          left: -12%; } }
  .site-header .container-inner {
    height: 80px;
    background-color: #ffffff;
    position: relative; }

.map-container {
  position: relative; }
  .map-container .website-title {
    position: absolute;
    top: 81px;
    left: 5.3%;
    width: 430px;
    z-index: 99999; }
    @media screen and (max-width: 768px) {
      .map-container .website-title {
        position: absolute;
        top: 12px;
        left: 30px;
        right: 30px;
        width: auto;
        text-align: center; }
        .map-container .website-title span {
          color: #FBBF2C; } }
    .map-container .website-title h1 {
      padding-bottom: 0px;
      margin-bottom: 0px;
      font-size: 37px; }
  @media screen and (max-width: 768px) {
    .map-container {
      background: #f4f4f4; }
      .map-container .wpgmp_map_container {
        padding-top: 170px; } }

/* ------------------
# Footer
-------------------*/
.site-footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .site-footer .site-footer-contact {
    background-color: #252F3E;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px; }
    .site-footer .site-footer-contact .container-inner {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-box-align: stretch;
              align-items: stretch;
      flex-wrap: wrap; }
      .site-footer .site-footer-contact .container-inner .site-footer-contact-item {
        color: #ffffff;
        width: 24%; }
        @media screen and (max-width: 1024px) {
          .site-footer .site-footer-contact .container-inner .site-footer-contact-item {
            width: 50%;
            margin-bottom: 10px; } }
        @media screen and (max-width: 480px) {
          .site-footer .site-footer-contact .container-inner .site-footer-contact-item {
            width: 100%;
            text-align: left; } }
        .site-footer .site-footer-contact .container-inner .site-footer-contact-item span.strong-content {
          font-weight: bold;
          color: #ffffff; }
          .site-footer .site-footer-contact .container-inner .site-footer-contact-item span.strong-content a {
            color: #ffffff; }
        .site-footer .site-footer-contact .container-inner .site-footer-contact-item img {
          max-height: 35px; }
  .site-footer .site-footer-disclaimer {
    background-color: #FBBF2C;
    color: #252F3E;
    padding-top: 10px;
    padding-bottom: 10px; }
    .site-footer .site-footer-disclaimer div {
      display: inline-block;
      font-size: 11px;
      font-weight: 700;
      text-transform: uppercase; }
    .site-footer .site-footer-disclaimer ul.menu {
      list-style-type: none;
      -webkit-margin-before: 0em;
              margin-block-start: 0em;
      -webkit-margin-after: 0em;
              margin-block-end: 0em;
      -webkit-padding-start: 0px;
              padding-inline-start: 0px;
      display: inline-block;
      margin: 0px;
      padding: 0px; }
      .site-footer .site-footer-disclaimer ul.menu li {
        display: inline-block;
        padding: 0px 10px; }
        .site-footer .site-footer-disclaimer ul.menu li a {
          color: #252F3E;
          text-decoration: none;
          font-size: 11px;
          font-weight: 700;
          text-transform: uppercase; }
          .site-footer .site-footer-disclaimer ul.menu li a:hover {
            text-decoration: underline; }

/* ------------------
# Main-Content elements
-------------------*/
body {
  background-color: #ffffff; }

.site-content {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }

.arrow-down {
  background: url("./images/white-arrow-down.svg");
  width: 70px;
  height: 70px;
  background-size: cover;
  text-decoration: none;
  display: block;
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 999; }

/* ------------------
# Default Single
-------------------*/
.page-template-default .entry-content, .page-template-default .entry-header {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .page-template-default .entry-content p, .page-template-default .entry-content h1, .page-template-default .entry-content h2, .page-template-default .entry-content h3, .page-template-default .entry-content h4, .page-template-default .entry-header p, .page-template-default .entry-header h1, .page-template-default .entry-header h2, .page-template-default .entry-header h3, .page-template-default .entry-header h4 {
    width: 66%;
    margin-left: auto;
    margin-right: auto; }
  .page-template-default .entry-content .wp-block-columns p, .page-template-default .entry-header .wp-block-columns p {
    width: auto; }
  .page-template-default .entry-content ul, .page-template-default .entry-header ul {
    padding-left: 0px;
    list-style-type: none;
    margin-left: 0px; }
    .page-template-default .entry-content ul li, .page-template-default .entry-header ul li {
      padding-left: 34px; }
      .page-template-default .entry-content ul li:before, .page-template-default .entry-header ul li:before {
        color: #FBBF2C;
        content: '\f00c';
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-left: -29px;
        margin-right: 12px; }

.intro-block {
  text-align: center;
  margin: 0px auto 0px auto;
  padding-bottom: 30px;
  padding-top: 60px;
  max-width: 80%; }
  @media screen and (max-width: 768px) {
    .intro-block {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 1px;
      padding-top: 12px; } }
  @media screen and (max-width: 480px) {
    .intro-block {
      max-width: 100%;
      padding-left: 10px;
      padding-right: 10px; } }
  .intro-block .intro-title {
    margin-top: 0px; }
  .intro-block .intro-sub-title {
    margin-bottom: 0px; }
  .intro-block p {
    max-width: 66%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 1024px) {
      .intro-block p {
        max-width: 90%; } }
    @media screen and (max-width: 768px) {
      .intro-block p {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px; } }

/* ------------------
# Map-styling
-------------------*/
.infoBox {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) !important; }

.fc-item-box .fc-top-content {
  position: relative; }
  .fc-item-box .fc-top-content .fc-top-content-gradient {
    width: 100%;
    height: 100px;
    background: url("./images/verhalen-gradient.png");
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0; }
  .fc-item-box .fc-top-content .fc-top-content-text {
    position: absolute;
    bottom: 12px;
    color: white;
    padding-left: 12px;
    padding-right: 12px; }
  .fc-item-box .fc-top-content .fc-top-content-title {
    margin: 0px;
    padding: 0px;
    font-size: 16.9px;
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 1;
    display: block; }
  .fc-item-box .fc-top-content span.smalltext {
    font-size: 11px; }
  .fc-item-box .fc-top-content .fc-top-content-text-url {
    position: absolute;
    bottom: 29px;
    right: 23px;
    width: 17px;
    height: 10px;
    background: url("./images/button-arrow-right.png");
    background-repeat: none; }

.fc-item-box .fc-itemcontent-padding li.fc-list-item {
  color: #FBBF2C;
  font-size: 10px; }
  .fc-item-box .fc-itemcontent-padding li.fc-list-item span {
    color: #252F3E; }

/* ------------------
# Homepage = Defaults
-------------------*/
.site-content {
  background: url("./images/background-content.png");
  background-repeat: repeat-x;
  background-position: left bottom; }

/* ------------------
# Homepage = Waarom
-------------------*/
.waarom-block-container {
  position: relative; }
  .waarom-block-container .container-inner {
    border-bottom: 1px solid rgba(112, 112, 112, 0.13); }
    .waarom-block-container .container-inner .arrow-down {
      margin-top: -44px; }
  .waarom-block-container .waarom-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    padding-bottom: 80px;
    flex-wrap: wrap; }
    @media screen and (max-width: 1024px) {
      .waarom-block-container .waarom-content {
        max-width: 66%;
        margin-left: auto;
        margin-right: auto; } }
    @media screen and (max-width: 480px) {
      .waarom-block-container .waarom-content {
        max-width: 100%; } }
    .waarom-block-container .waarom-content .waarom-content-item {
      min-height: 290px;
      width: 30%;
      display: -webkit-box;
      display: flex;
      align-content: center;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: center;
              justify-content: center;
      position: relative;
      -webkit-filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.16));
              filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.16)); }
      .waarom-block-container .waarom-content .waarom-content-item .cirkel-number {
        position: absolute;
        background: url("./images/circle-one.svg");
        background-size: cover;
        width: 60px;
        height: 60px;
        left: 22px;
        top: -20px;
        z-index: 15; }
      @media screen and (max-width: 1024px) {
        .waarom-block-container .waarom-content .waarom-content-item {
          width: 100% !important;
          min-height: 200px !important; } }
      @media screen and (max-width: 480px) {
        .waarom-block-container .waarom-content .waarom-content-item {
          min-height: 240px !important; } }
    .waarom-block-container .waarom-content .item-one .inner {
      -webkit-clip-path: polygon(1% 2%, 88% 0, 100% 85%, 1% 83%);
      clip-path: polygon(1% 2%, 88% 0, 100% 85%, 1% 83%);
      background: #f4f4f4;
      width: 100%;
      height: 100%;
      padding: 44px 13% 30px 23px;
      position: relative;
      z-index: 14; }
    .waarom-block-container .waarom-content .item-one:after {
      content: "";
      width: 124px;
      height: 112px;
      background: url(./images/before-dotted-line.svg);
      position: absolute;
      right: -92px;
      top: 75px;
      background-size: 100%;
      z-index: 2;
      background-repeat: no-repeat; }
    @media screen and (max-width: 1024px) {
      .waarom-block-container .waarom-content .item-one .inner {
        -webkit-clip-path: polygon(1% 2%, 98% 0, 100% 85%, 1% 83%);
        clip-path: polygon(1% 2%, 98% 0, 100% 85%, 1% 83%);
        padding: 44px 6% 30px 35px; }
      .waarom-block-container .waarom-content .item-one:after {
        right: auto;
        top: auto;
        bottom: -43px;
        -webkit-transform: rotate(126deg);
                transform: rotate(126deg); } }
    .waarom-block-container .waarom-content .item-one .cirkel-number {
      background: url("./images/circle-one.svg");
      background-size: cover; }
    .waarom-block-container .waarom-content .item-two {
      width: 28%; }
      .waarom-block-container .waarom-content .item-two .inner {
        -webkit-clip-path: polygon(1% 2%, 99% 4%, 97% 84%, 3% 83%);
        clip-path: polygon(1% 2%, 99% 4%, 97% 84%, 3% 83%);
        background: #f4f4f4;
        width: 100%;
        height: 100%;
        padding: 44px 7% 30px 23px;
        position: relative;
        z-index: 10; }
      .waarom-block-container .waarom-content .item-two .cirkel-number {
        background: url("./images/circle-two.svg");
        background-size: cover; }
      .waarom-block-container .waarom-content .item-two:after {
        content: "";
        width: 144px;
        height: 98px;
        background: url(./images/after-dotted-line.svg);
        position: absolute;
        right: -92px;
        background-size: 100%;
        z-index: 2; }
      @media screen and (max-width: 1024px) {
        .waarom-block-container .waarom-content .item-two {
          margin-top: 30px; }
          .waarom-block-container .waarom-content .item-two .inner {
            padding: 44px 6% 30px 35px; }
          .waarom-block-container .waarom-content .item-two:after {
            right: auto;
            top: auto;
            bottom: -43px;
            -webkit-transform: rotate(103deg);
                    transform: rotate(103deg); } }
    .waarom-block-container .waarom-content .item-three .inner {
      -webkit-clip-path: polygon(1% 2%, 88% 0, 100% 85%, 1% 83%);
      clip-path: polygon(1% 2%, 88% 0, 100% 85%, 1% 83%);
      background: #f4f4f4;
      width: 100%;
      height: 100%;
      padding: 44px 13% 30px 23px;
      position: relative;
      z-index: 10; }
    .waarom-block-container .waarom-content .item-three .cirkel-number {
      background: url("./images/circle-three.svg");
      background-size: cover; }
    @media screen and (max-width: 1024px) {
      .waarom-block-container .waarom-content .item-three {
        margin-top: 60px; }
        .waarom-block-container .waarom-content .item-three .inner {
          -webkit-clip-path: polygon(1% 2%, 98% 0, 100% 85%, 1% 83%);
          clip-path: polygon(1% 2%, 98% 0, 100% 85%, 1% 83%);
          padding: 44px 6% 30px 35px; } }

/* ------------------
# Verhalen overzicht
-------------------*/
.post-type-archive-verhalen .page-header, .post-type-archive-innovatieteam .page-header {
  text-align: center;
  margin: 100px auto 30px auto;
  max-width: 80%; }
  .post-type-archive-verhalen .page-header h1, .post-type-archive-innovatieteam .page-header h1 {
    margin-top: 0px; }
  @media screen and (max-width: 768px) {
    .post-type-archive-verhalen .page-header, .post-type-archive-innovatieteam .page-header {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px; } }

.verhalen-block {
  display: grid;
  display: -ms-grid;
  grid-template-columns: repeat(4, 24%);
  -ms-grid-columns: 24% 15px 24% 15px 24% 15px 24%;
  grid-gap: 1.3%;
  max-width: 1500px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
  margin: 30px auto 0px auto;
  border-bottom: 1px solid rgba(112, 112, 112, 0.13); }
  .verhalen-block article:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1; }
  .verhalen-block article:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3; }
  .verhalen-block article:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 5; }
  .verhalen-block article:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 7; }
  .verhalen-block article:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1; }
  .verhalen-block article:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3; }
  .verhalen-block article:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 5; }
  .verhalen-block article:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 7; }
  @media screen and (max-width: 1024px) {
    .verhalen-block {
      grid-template-columns: repeat(3, 32%);
      -ms-grid-columns: 32% 15px 32% 15px 32%;
      grid-gap: 2%; }
      .verhalen-block article:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3; }
      .verhalen-block article:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 5; }
      .verhalen-block article:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 3; }
      .verhalen-block article:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 5; }
      .verhalen-block article:nth-child(7) {
        -ms-grid-row: 3;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(8) {
        -ms-grid-row: 3;
        -ms-grid-column: 3; } }
  @media screen and (max-width: 768px) {
    .verhalen-block {
      grid-template-columns: repeat(2, 49%);
      -ms-grid-columns: 49% 15px 49%;
      grid-gap: 2%; }
      .verhalen-block article:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 3; }
      .verhalen-block article:nth-child(3) {
        -ms-grid-row: 2;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(4) {
        -ms-grid-row: 2;
        -ms-grid-column: 3; }
      .verhalen-block article:nth-child(5) {
        -ms-grid-row: 3;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(6) {
        -ms-grid-row: 3;
        -ms-grid-column: 3; }
      .verhalen-block article:nth-child(7) {
        -ms-grid-row: 4;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(8) {
        -ms-grid-row: 4;
        -ms-grid-column: 3; } }
  @media screen and (max-width: 480px) {
    .verhalen-block {
      grid-template-columns: repeat(1, 100%);
      -ms-grid-columns: 100%;
      padding-left: 15px;
      padding-right: 15px;
      grid-gap: 1%; }
      .verhalen-block article:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(2) {
        -ms-grid-row: 2;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(4) {
        -ms-grid-row: 4;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(5) {
        -ms-grid-row: 5;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(6) {
        -ms-grid-row: 6;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(7) {
        -ms-grid-row: 7;
        -ms-grid-column: 1; }
      .verhalen-block article:nth-child(8) {
        -ms-grid-row: 8;
        -ms-grid-column: 1; } }
  .verhalen-block :after {
    content: "";
    -webkit-box-flex: 1;
            flex: auto; }
  .verhalen-block .cta-verhaal {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background: #252F3E;
    color: #ffffff;
    padding: 15px; }
    @media screen and (max-width: 1024px) {
      .verhalen-block .cta-verhaal {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3; } }
    @media screen and (max-width: 480px) {
      .verhalen-block .cta-verhaal {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2; } }
    .verhalen-block .cta-verhaal span.verhalen-block-item--content-title {
      margin: 0px;
      padding: 0px;
      font-size: 16.9px;
      font-size: 1.3rem;
      font-weight: 800;
      line-height: 1; }
  .verhalen-block .cta-hulplijn {
    background: #FBBF2C;
    color: #ffffff;
    padding: 15px; }
    .verhalen-block .cta-hulplijn span.verhalen-block-item--content-title {
      margin: 0px;
      padding: 0px;
      font-size: 16.9px;
      font-size: 1.3rem;
      font-weight: 800;
      line-height: 1; }
    .verhalen-block .cta-hulplijn img {
      max-width: 35px; }
    .verhalen-block .cta-hulplijn a {
      background: #252F3E;
      color: #FBBF2C; }
      .verhalen-block .cta-hulplijn a:hover, .verhalen-block .cta-hulplijn a:active {
        background: white;
        color: #FBBF2C; }
      .verhalen-block .cta-hulplijn a:visited {
        background: #FBBF2C;
        color: #252F3E; }
  .verhalen-block article.verhalen, .verhalen-block article.innovatieteam {
    min-height: 250px;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 15px; }
    .verhalen-block article.verhalen a:hover .verhalen-block-item--image, .verhalen-block article.innovatieteam a:hover .verhalen-block-item--image {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    .verhalen-block article.verhalen a .verhalen-block-item--image, .verhalen-block article.innovatieteam a .verhalen-block-item--image {
      width: 100%;
      height: 100%;
      position: absolute;
      background-position: center center;
      background-size: cover;
      -webkit-transition: -webkit-transform .4s;
      transition: -webkit-transform .4s;
      transition: transform .4s;
      transition: transform .4s, -webkit-transform .4s; }
    .verhalen-block article.verhalen a .verhalen-block-item--gradient, .verhalen-block article.innovatieteam a .verhalen-block-item--gradient {
      width: 100%;
      height: 100px;
      background: url("./images/verhalen-gradient.png");
      background-repeat: repeat-x;
      position: absolute;
      bottom: 0; }
    .verhalen-block article.verhalen a .verhalen-block-item--content, .verhalen-block article.innovatieteam a .verhalen-block-item--content {
      position: absolute;
      bottom: 15px;
      z-index: 99999;
      left: 15px;
      width: calc(100% - 50px);
      color: white;
      padding-bottom: 0px; }
      .verhalen-block article.verhalen a .verhalen-block-item--content span.verhalen-block-item--content-title, .verhalen-block article.innovatieteam a .verhalen-block-item--content span.verhalen-block-item--content-title {
        margin: 0px;
        padding: 0px;
        font-size: 16.9px;
        font-size: 1.3rem;
        font-weight: 800;
        line-height: 1;
        display: block; }
      .verhalen-block article.verhalen a .verhalen-block-item--content .smalltext, .verhalen-block article.innovatieteam a .verhalen-block-item--content .smalltext {
        font-size: 10.4px;
        font-size: 0.8rem; }
    .verhalen-block article.verhalen a div.verhalen-block-item--content-button, .verhalen-block article.innovatieteam a div.verhalen-block-item--content-button {
      position: absolute;
      bottom: 29px;
      right: 23px;
      width: 17px;
      height: 10px;
      background: url("./images/button-arrow-right.png");
      background-repeat: none; }

/* ------------------
# Verhalen Single / innovatieteam
-------------------*/
.single-verhalen main#main, .single-innovatieteam main#main {
  background: url("./images/background-content.png"), #f5f5f2;
  background-repeat: repeat-x;
  background-position-y: 400px;
  padding-bottom: 70px; }

.single-verhalen header.entry-header, .single-innovatieteam header.entry-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  min-height: 370px; }
  @media screen and (max-width: 480px) {
    .single-verhalen header.entry-header, .single-innovatieteam header.entry-header {
      min-height: 280px; } }
  .single-verhalen header.entry-header .verhalen-block-item--gradient, .single-innovatieteam header.entry-header .verhalen-block-item--gradient {
    width: 100%;
    height: 100px;
    background: url("./images/verhalen-gradient.png");
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    z-index: 1; }
  .single-verhalen header.entry-header .verhalen-header-content, .single-innovatieteam header.entry-header .verhalen-header-content {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    position: absolute;
    z-index: 999;
    bottom: 0; }
    @media screen and (max-width: 480px) {
      .single-verhalen header.entry-header .verhalen-header-content, .single-innovatieteam header.entry-header .verhalen-header-content {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px; } }
    .single-verhalen header.entry-header .verhalen-header-content h1, .single-innovatieteam header.entry-header .verhalen-header-content h1 {
      color: white;
      margin-top: 0px;
      padding-top: 150px;
      margin-bottom: 0px;
      font-weight: 800;
      line-height: 1.4; }
    .single-verhalen header.entry-header .verhalen-header-content .verhalen-header-smalltext, .single-innovatieteam header.entry-header .verhalen-header-content .verhalen-header-smalltext {
      color: white;
      margin-top: -7px; }

.single-verhalen .header-content, .single-innovatieteam .header-content {
  background: url("./images/maps-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }
  .single-verhalen .header-content .elipse-number, .single-innovatieteam .header-content .elipse-number {
    background: url("./images/elipse-number.png");
    width: 270px;
    height: 270px;
    position: absolute;
    top: -135px;
    right: 40px;
    background-size: cover;
    z-index: 999999; }
    .single-verhalen .header-content .elipse-number .number, .single-innovatieteam .header-content .elipse-number .number {
      position: absolute;
      width: 35px;
      height: 20px;
      color: white;
      top: 96px;
      right: 95px;
      text-align: center;
      font-size: 14px;
      font-weight: 700; }
    @media screen and (max-width: 1024px) {
      .single-verhalen .header-content .elipse-number, .single-innovatieteam .header-content .elipse-number {
        width: 200px;
        height: 200px;
        top: -99px;
        right: 0px; }
        .single-verhalen .header-content .elipse-number .number, .single-innovatieteam .header-content .elipse-number .number {
          top: 70px;
          right: 66px;
          font-size: 12px; } }
    @media screen and (max-width: 480px) {
      .single-verhalen .header-content .elipse-number, .single-innovatieteam .header-content .elipse-number {
        display: none; } }
  .single-verhalen .header-content .content-meta-list, .single-innovatieteam .header-content .content-meta-list {
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
    padding: 10px 40px;
    margin: 0px 0px 0px 0px;
    max-width: 75%;
    opacity: 0.7; }
    .single-verhalen .header-content .content-meta-list li, .single-innovatieteam .header-content .content-meta-list li {
      display: inline-block;
      font-size: 12px;
      margin-right: 30px;
      font-weight: 400; }
    @media screen and (max-width: 480px) {
      .single-verhalen .header-content .content-meta-list, .single-innovatieteam .header-content .content-meta-list {
        max-width: 100%;
        padding: 10px 20px; } }
  .single-verhalen .header-content .header-content-intro, .single-innovatieteam .header-content .header-content-intro {
    padding: 30px 40px;
    max-width: 66%;
    margin-bottom: 90px; }
    @media screen and (max-width: 768px) {
      .single-verhalen .header-content .header-content-intro, .single-innovatieteam .header-content .header-content-intro {
        max-width: 100%; } }
    @media screen and (max-width: 480px) {
      .single-verhalen .header-content .header-content-intro, .single-innovatieteam .header-content .header-content-intro {
        padding: 20px 20px; } }
  .single-verhalen .header-content .arrow-down, .single-innovatieteam .header-content .arrow-down {
    position: absolute;
    bottom: -35px;
    height: 70px;
    width: 100%;
    text-align: center; }
    .single-verhalen .header-content .arrow-down img, .single-innovatieteam .header-content .arrow-down img {
      max-height: 100%; }

.single-verhalen .entry-content, .single-innovatieteam .entry-content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px; }
  .single-verhalen .entry-content p, .single-innovatieteam .entry-content p {
    width: 66%;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 480px) {
      .single-verhalen .entry-content p, .single-innovatieteam .entry-content p {
        width: 100%; } }
  .single-verhalen .entry-content img, .single-innovatieteam .entry-content img {
    border-radius: 6px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); }
  .single-verhalen .entry-content .wp-block-columns p, .single-innovatieteam .entry-content .wp-block-columns p {
    width: auto; }

.single-verhalen .entry-footer, .single-innovatieteam .entry-footer {
  width: 66%;
  margin: 40px auto 40px auto;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
          align-items: stretch; }
  @media screen and (max-width: 1200px) {
    .single-verhalen .entry-footer, .single-innovatieteam .entry-footer {
      width: 75%; } }
  @media screen and (max-width: 768px) {
    .single-verhalen .entry-footer, .single-innovatieteam .entry-footer {
      width: 80%; } }
  .single-verhalen .entry-footer .prev-post, .single-verhalen .entry-footer .next-post, .single-innovatieteam .entry-footer .prev-post, .single-innovatieteam .entry-footer .next-post {
    display: inline-block;
    width: 49.5%;
    font-weight: 400;
    position: relative; }
    @media screen and (max-width: 600px) {
      .single-verhalen .entry-footer .prev-post, .single-verhalen .entry-footer .next-post, .single-innovatieteam .entry-footer .prev-post, .single-innovatieteam .entry-footer .next-post {
        width: 100%;
        margin-bottom: 5px;
        border-radius: 6px; } }
    .single-verhalen .entry-footer .prev-post a, .single-verhalen .entry-footer .next-post a, .single-innovatieteam .entry-footer .prev-post a, .single-innovatieteam .entry-footer .next-post a {
      color: #252F3E;
      text-decoration: none; }
      .single-verhalen .entry-footer .prev-post a:hover, .single-verhalen .entry-footer .next-post a:hover, .single-innovatieteam .entry-footer .prev-post a:hover, .single-innovatieteam .entry-footer .next-post a:hover {
        color: #FBBF2C; }
  .single-verhalen .entry-footer .prev-post, .single-innovatieteam .entry-footer .prev-post {
    background: white;
    position: relative;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 25px;
    padding-bottom: 20px; }
    .single-verhalen .entry-footer .prev-post .prev-post-inner, .single-innovatieteam .entry-footer .prev-post .prev-post-inner {
      padding-left: 55px;
      padding-right: 20px;
      text-align: left; }
      @media screen and (max-width: 768px) {
        .single-verhalen .entry-footer .prev-post .prev-post-inner, .single-innovatieteam .entry-footer .prev-post .prev-post-inner {
          padding-left: 38px;
          padding-right: 15px; } }
      .single-verhalen .entry-footer .prev-post .prev-post-inner a:before, .single-innovatieteam .entry-footer .prev-post .prev-post-inner a:before {
        content: ' ';
        position: absolute;
        background: url("./images/white-arrow-down.svg");
        width: 70px;
        height: 70px;
        background-size: cover;
        -webkit-transform: rotate(-270deg);
                transform: rotate(-270deg);
        left: -37px;
        top: 18px;
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s; }
        @media screen and (max-width: 768px) {
          .single-verhalen .entry-footer .prev-post .prev-post-inner a:before, .single-innovatieteam .entry-footer .prev-post .prev-post-inner a:before {
            width: 55px;
            height: 55px;
            left: -27px;
            top: 36px; } }
        @media screen and (max-width: 600px) {
          .single-verhalen .entry-footer .prev-post .prev-post-inner a:before, .single-innovatieteam .entry-footer .prev-post .prev-post-inner a:before {
            top: 25px; } }
      .single-verhalen .entry-footer .prev-post .prev-post-inner a:hover:before, .single-innovatieteam .entry-footer .prev-post .prev-post-inner a:hover:before {
        left: -42px; }
        @media screen and (max-width: 768px) {
          .single-verhalen .entry-footer .prev-post .prev-post-inner a:hover:before, .single-innovatieteam .entry-footer .prev-post .prev-post-inner a:hover:before {
            left: -32px; } }
  .single-verhalen .entry-footer .next-post, .single-innovatieteam .entry-footer .next-post {
    background: white;
    position: relative;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 25px;
    padding-bottom: 25px; }
    .single-verhalen .entry-footer .next-post .next-post-inner, .single-innovatieteam .entry-footer .next-post .next-post-inner {
      padding-left: 20px;
      padding-right: 55px;
      text-align: right; }
      @media screen and (max-width: 768px) {
        .single-verhalen .entry-footer .next-post .next-post-inner, .single-innovatieteam .entry-footer .next-post .next-post-inner {
          padding-left: 15px;
          padding-right: 38px; } }
      .single-verhalen .entry-footer .next-post .next-post-inner a:after, .single-innovatieteam .entry-footer .next-post .next-post-inner a:after {
        content: ' ';
        position: absolute;
        background: url("./images/white-arrow-down.svg");
        width: 70px;
        height: 70px;
        background-size: cover;
        -webkit-transform: rotate(-90deg);
                transform: rotate(-90deg);
        right: -37px;
        top: 18px;
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s; }
        @media screen and (max-width: 768px) {
          .single-verhalen .entry-footer .next-post .next-post-inner a:after, .single-innovatieteam .entry-footer .next-post .next-post-inner a:after {
            width: 55px;
            height: 55px;
            right: -27px;
            top: 36px; } }
        @media screen and (max-width: 600px) {
          .single-verhalen .entry-footer .next-post .next-post-inner a:after, .single-innovatieteam .entry-footer .next-post .next-post-inner a:after {
            top: 25px; } }
      .single-verhalen .entry-footer .next-post .next-post-inner a:hover:after, .single-innovatieteam .entry-footer .next-post .next-post-inner a:hover:after {
        right: -42px; }
        @media screen and (max-width: 768px) {
          .single-verhalen .entry-footer .next-post .next-post-inner a:hover:after, .single-innovatieteam .entry-footer .next-post .next-post-inner a:hover:after {
            right: -32px; } }

.single-verhalen .verhalen-block-container .arrow-down, .single-innovatieteam .verhalen-block-container .arrow-down {
  top: -32px; }

/* ------------------
# CTA footer
-------------------*/
.call-to-action {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px; }
  @media screen and (max-width: 480px) {
    .call-to-action {
      padding-left: 15px;
      padding-right: 15px; } }
  .call-to-action .form-block {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: stretch;
            align-items: stretch;
    margin-bottom: 40px; }
    .call-to-action .form-block .form-block-content {
      width: 85%;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      z-index: 10;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: stretch;
              align-items: stretch; }
      @media screen and (max-width: 1024px) {
        .call-to-action .form-block .form-block-content {
          width: 50%;
          margin-left: 10%; } }
      @media screen and (max-width: 768px) {
        .call-to-action .form-block .form-block-content {
          width: 85%;
          margin-left: auto;
          margin-right: auto; } }
      @media screen and (max-width: 480px) {
        .call-to-action .form-block .form-block-content {
          width: 100%; } }
      .call-to-action .form-block .form-block-content .form-block-left {
        background: url("./images/cta-left.svg");
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
        width: 60%; }
        .call-to-action .form-block .form-block-content .form-block-left span {
          font-weight: 900;
          font-size: 35px;
          max-width: 450px;
          display: block;
          line-height: 1.3;
          margin-left: 10%;
          margin-top: 86px; }
        @media screen and (max-width: 1024px) {
          .call-to-action .form-block .form-block-content .form-block-left {
            display: none; } }
      .call-to-action .form-block .form-block-content .form-block-right {
        width: 40%;
        background: white;
        padding: 30px 20px 5px 20px; }
        @media screen and (max-width: 1024px) {
          .call-to-action .form-block .form-block-content .form-block-right {
            width: 100%; } }
    .call-to-action .form-block .form-block-logo {
      width: 15%;
      z-index: 8;
      position: relative; }
      @media screen and (max-width: 1024px) {
        .call-to-action .form-block .form-block-logo {
          width: 30%; } }
      @media screen and (max-width: 768px) {
        .call-to-action .form-block .form-block-logo {
          display: none; } }
      .call-to-action .form-block .form-block-logo img {
        bottom: 50px;
        position: absolute; }

.wpcf7-form input {
  border: 0px;
  border-bottom: 1px solid rgba(37, 47, 62, 0.1);
  width: 100%; }

.wpcf7-form label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 13px; }

.wpcf7-form select {
  width: 100%;
  background: #F5F6F2;
  border: 1px solid rgba(37, 47, 62, 0.1); }

.wpcf7-form .wpcf7-submit {
  background: #252F3E;
  color: white;
  padding: 20px 20px 16px 20px;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  border: 0px; }
  .wpcf7-form .wpcf7-submit:hover {
    background: #FBBF2C; }

.wpcf7-form p.no-padding {
  margin-bottom: 0px; }

.wpcf7-form .form-left {
  display: inline-block;
  width: 48%; }
  @media screen and (max-width: 480px) {
    .wpcf7-form .form-left {
      width: 100%;
      margin-bottom: 10px; } }

.wpcf7-form .form-right {
  display: inline-block;
  width: 48%;
  margin-left: 1%; }
  @media screen and (max-width: 480px) {
    .wpcf7-form .form-right {
      width: 100%; } }
