// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 13) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	content: "";
	display: table;
	table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
	width: map-get( $columns, $numberColumns ) - ( ( $columns__margin * ( $numberColumns - 1 ) ) / $numberColumns );
}

// responsive fields
@mixin phone {
	@media screen and (max-width: 480px){
		@content;
	}
}
@mixin tablet {
	@media screen and (max-width: 768px){
		@content;
	}
}
@mixin desktop {
	@media screen and (max-width: 1024px){
		@content;
	}
}
@mixin media($width) {
	@media screen and (max-width: $width){
		@content;
	}
}