$size__site-main: 100%;
$size__site-sidebar: 25%;


$max-website-width: 1600px;


.container-inner{
	margin-left: 100px;
	margin-right: 100px;

	@include desktop{
		max-width: 100%;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 30px;
		padding-right: 30px;
	}
	@include phone{
		padding-left: 10px;
		padding-right: 10px;
	}
}

