@import url('https://fonts.googleapis.com/css?family=Khula:300,400,700,800&display=swap');

$font__main: 'Khula', sans-serif;	
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.7;
$font__line-height-pre: 1.6;
