a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.button-yellow{
	background: $color__yellow;
	color: $color__grey;
	display: block;
	padding: 12px 10px 8px 10px;
	text-decoration: none;
	text-align: center;
	font-weight: 800;
	font-size: 12px;
    margin-top: 15px;
    position: absolute;
    width: calc(100% - 30px);

	img{
		margin-left: 10px;    
		top: 15px;
    	position: absolute;
	}

	&:hover, &:active{
		background: white;
		color: $color__yellow;
	}
	&:visited{
		background: $color__yellow;
		color: $color__grey;
	}
}