.main-navigation {
	clear: both;
	display: block;
	float: right;
	margin-top: 26px;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		li {

			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;

			&:hover > ul,
			&.focus > ul {
				left: 100%;
			}
		}
		.cta-button{
			a{
				background: $color--grey;
				color: white;
				padding: 10px 20px 5px 20px;

				&:after{
					content: '';
					background: url('./images/button-arrow-right-white.png');
				    width: 19px;
				    height: 11px;
				    display: inline-block;
				    margin-left: 15px;
				}
				&:hover{
					background: $color--yellow;
					color: $color--grey;

					&:after{
						background: url('./images/button-arrow-right-grey.png');
					}
				}
			}
		}

		a {
			color: $color--grey;
			font-weight: 800;
			text-decoration: none;
			@include font-size(1);

			&:hover{
				color: $color--yellow;
			}
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color--yellow;
		border-bottom: 1px solid $color--yellow;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
/* --------------------
Mobile menu
--------------------*/
.right-menu-icon-text{
    line-height: 40px!important;
    font-weight: 700!important;
    font-family: "Khula", sans-serif!important;
}
.mobmenur-container{
	margin-top: 24px!important;
}
ul#mobmenuright{
	li.current-menu-item{

		a, a:visited{
			font-weight: 800!important;
			color: $color--yellow!important;
		}
	}
}
